body {
  --bs-body-color: white;
  background: url("https://courses.ics.hawaii.edu/ics314f22/morea/ui-frameworks/murphys-new-background.jpeg") no-repeat center center fixed;
  background-size: cover;
}

.navbar-nav {
  --bs-nav-link-color: white;
}

#topMenu, #bottomMenu {
  background-color: #1B4F24;
}

#centerText {
  height: 650px;
}
